:root {
    --background-color-body-titulo-enlace: hsl(0, 0%, 95%);
    --background-color-column1-enlace1: hsl(31, 77%, 52%);
    --background-color-column2-enlace2: hsl(184, 100%, 22%);
    --background-color-column3-enlace3: hsl(179, 100%, 13%);
    --color-informacion: hsla(0, 0%, 100%, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--background-color-body-titulo-enlace); /*Color: Very light gray*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.main {
    width: 950px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "column1    column2     column3";
}

.column1{
    background: var(--background-color-column1-enlace1); /*Color: Primary Bright orange*/
    grid-area: column1;
}

.column2{
    background: var(--background-color-column2-enlace2); /*Color: Dark cyan*/
    grid-area: column2;
}

.column3{
    background: var(--background-color-column3-enlace3); /*Color: Very dark cyan*/
    grid-area: column3;
}

.column1, .column2, .column3 {
    padding: 16%;
    display: grid;
    gap: 30px;
}

.caja-texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--background-color-body-titulo-enlace); /*Color: Very light gray*/
    font-size: 2.5rem;
    text-transform: uppercase;
}

.informacion {
    color: var(--color-informacion); /*Color: Neutral Transparent white*/
    line-height: 25px;
}

.caja-enlace {
    padding-top: 60px;
}

.enlace1 {
    color: var(--background-color-column1-enlace1); /*Color: Primary Bright orange*/
}

.enlace2 {
    color: var(--background-color-column2-enlace2); /*Color: Dark cyan*/
}

.enlace3 {
    color: var(--background-color-column3-enlace3); /*Color: Very dark cyan*/
}

.enlace1, .enlace2, .enlace3 {
    text-decoration: none;
    background: var(--background-color-body-titulo-enlace); /*Color: Very light gray*/
    padding: 13px 30px;
    border-radius: 30px;
}

.enlace1:active, .enlace2:active, .enlace3:active {
    box-sizing: border-box;
    background-color: transparent;
    color: var(--background-color-body-titulo-enlace);
    box-shadow: inset 0 0 0 3px var(--background-color-body-titulo-enlace); /*Color: Very light gray*/
}

@media(max-width: 718px){
    .main{
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-areas: "column1"
                             "column2"
                             "column3";
    }
}
